html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#controller {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top:20px;
  right:20px;
  padding: 20px 25px;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  backdrop-filter: blur( 0px );
  -webkit-backdrop-filter: blur( 0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.1 );
  z-index: 1;
  color: white;
}

.control-header {
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 5px;
}

.control-item {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 20px;
}

#point-range-label {
  font-weight: 600;
  font-size: 14px;
}

#point-range {
  cursor: pointer;
}

.capture {
  width: 100%;
  height: 35px;
  font-size: 12.5px;
  font-weight: 600;
  color: white;
  background-color: rgba( 0, 0, 0, 0.6 );
  box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.37 );
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

.capture:hover {
  background-color: rgba(255,255,255,0.1);
  transition: 0.3s;
}

/* .control {
  background-color: yellow;
  z-index: 10;
} */
